:root {
  --font-family: 'Open Sans', sans-serif;
  --spacing: 2rem;
  --colour-body: #444;
  --colour-background: #fff;
  --colour-yellow: #ffd800;
  --colour-pink: #f09;
  --colour-lime: #b0eb00;
  --colour-bright-red: #b30015;
  --colour-dark-blue: #2a00b3;
  --colour-deep-cerulean: #0077b3;
  --colour-bondi-blue: #00b0b3;
  --colour-cyan: #24fbff;
  --colour-heliotrope: #8a7dff;
  --colour-silver-chalice: #a6a6a6;
  --colour-scorpion: #595959;
  --colour-tundora: #444;
  --colour-mine-shaft: #363636;
  --colour-cod-gray: #111;
}

.dark-mode {
  --colour-body: #fff;
  --colour-background: #444;
}
