.header {
  display: block;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing);
  background: var(--colour-heliotrope);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
