.Footer {
  display: block;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing);
  color: var(--colour-scorpion);
  font-size: 1.4rem;
  text-align: center;
}
